@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700;900&display=swap');
@keyframes header_larger{
    from{
        padding: 3px 8px;
    }
    to
    {
        padding: 5px 10px;
    }
}
.head_btn:hover,.head_btn:active{
    color: #b8e65d;
    background-color: #778a5059;
    border: 1px solid #778A50;
    animation-name: header_larger;
    animation-duration: 0.5s;
    padding: 5px 10px;
}
.head_btn:active, .head_btn:visited, .head_btn:link{
    text-decoration: none;
}
body{
    background-color: #EDF2C5;
    font-family: 'Noto Sans' ;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgba(172, 50, 50, 0.532);*/
    margin-top: 36px;
    margin-left: 160px;
    margin-right: 160px;
}
.Head_Left{
    display: flex;
    width: 235px;
    height: 60px;
    line-height: 59.93px;
    font-weight: 900;
    font-size: 44px;
    color: #778A50;
    /*background-color: aliceblue;*/
}
.Head_Right{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 11px;
    /*background-color: #abeb35;*/
    width: 208px;
    height: 24px;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.07px;
    margin-right: 0px;
}
.Line{
    height: 24px;
    width: 0.1px;
    background-color: #778A50;
}
.Login,.Join{
    display: flex;
    align-self: center;
    padding: 3px 8px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #778A50;
    color: #778A50;
}
.nav{
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    align-content: flex-start;
    height: 44px;
    top: 106px;
    left: 160px;
    /*gap: 24px;*/
    border-radius: 3px 3px 3px 3px;
    opacity: 0px;
    border: 1px solid #778A50;
    background-color: #778A50;
}
.Head2{
    display: flex;
    align-self: center;
    font-family: "Noto Sans";
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    color: #EDF2C5;
    margin-left: 24px;
}
.body{
    margin-left: 160px;
    margin-right: 160px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 36px;
    opacity: 0px;
    margin-top: 16px;
}
.box-main-contact{
    display: grid;
    grid-column: 1/3;
    width: 100%;
    height: 681px;
    object-fit: cover;
    background-color: #778A50;
}
.box_vegetables{
    display: grid;
    width: 528px;
    height: 201px;
    top: 480px;
    opacity: 0px;
}
.box_vegetables_title{
    display: grid;
    padding: 10px 406px 11px 30px;
    border-radius: 3px 3px 3px 3px;
    opacity: 0px;
    width: 92px;
    height: 24px;
    gap: 0px;
    opacity: 0px;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    background-color: #778A50;
    color: #EDF2C5;

}
.img_other_groupe{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 14px;
    gap: 12px;
    border-radius: 3px 3px 3px 3px;
}
.box_contact{
    display: grid;
    width: 528px;
    height: 201px;
    top: 480px;
    opacity: 0px;
    margin-left: auto;
    gap: 0;
}
.box_contact_title{
    display: grid;
    padding: 10px 406px 11px 30px;
    gap: 0px;
    border-radius: 3px 3px 3px 3px;
    opacity: 0px;
    width: 92px;
    height: 24px;
    top: 10px;
    gap: 5px;
    opacity: 0px;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 900;
    line-height: 24px;
    text-align: left;
    background-color: #778A50;
    color: #EDF2C5;
}
.box_contact_text{
    display: grid;
    width: 528px;
    height: 140px;
    top: 61px;
    gap: 9px;
    opacity: 0px;
    background-color: #F7FBDA;
    font-family: Noto Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    margin-top: 16px;
    color: #7d7d7d;
}
.Line2{
    display: grid;
    width: 496px;
    height: 0.1px;
    margin-left: 16px;
    margin-top: -10px;
}
.footer{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #EDF2C5;
    background-color: #778A50;
    height: 60px;
    margin-top: 117px;
    font-size: 12px;
    width: 100%;
}